.butt{
    border: none;
    padding: 1rem;
    background-color: #fdb2109e;
    border-radius: 500px ;
    font-weight: 900;
    cursor: pointer;
}
.butt:hover{
    background-color: #ffd57a9e;
}
.Button1Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}