.workpage {  
    font-family: 'Poppins'; 
}


.workpage-title{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    color: black;
}

.workpage-events{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.workpage-events-container{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    gap: 2rem; 
    margin: 0 2rem;
}

.workpage-events-container::-webkit-scrollbar {
    display: none;
}

.workpage-slider{
    /* padding-top: 2rem;     */
    width: 100%;
    /* margin: 0 10rem; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: black;
}

.workpage-slider-left{
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 0 2rem;
    width: 30px;
}
.workpage-slider-left img{
    width: 100%;
}

.workpage-slider-right{
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 0 2rem;
    width: 30px;
}
.workpage-slider-right img{
    width: 100%;
}

.workpage-slider-left:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.workpage-slider-right:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}


@media(width<900px){
    .card-hidden{
        display: none;
    }
}

.workpage-topbar-left{
    background-color: rgb(62, 73, 193);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin:1rem 2rem;
    color: white;
}
.workpage-topbar-left:hover{
    background-color: rgb(34, 43, 144);
}
.workpage-topbar-right{
    background-color: rgb(209, 59, 59);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin:1rem 2rem;
    color: white;
}
.workpage-topbar-right:hover{
    background-color: rgb(159, 41, 41);
    padding: 0.5rem 1rem;
}