.maindiv{
    background: linear-gradient(180deg,white 30%, rgba(229, 63, 82, 0.2) 0%, rgba(255, 155, 38, 0.56) 92.5%);
    height: 45vh;
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:20%;
}
.div1 img{
    width: 50%;
    margin-top: 75px;
}
.div2 img{
    height: 100%;
}
.div3{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div31{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div31 img{
    width: 150px;
}
.div32{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div32 img{
    width: 150px;
}
@media(max-width:1050px){
    .maindiv h1{
        font-size: xx-large;
    }
    .maindiv h4{
        font-size: large;
    }
    .maindiv h5{
        font-size: medium;
    }
    .div2 img{
        width: 80%;
    }
    .maindiv{
        height: 30vh;
    }
}
@media(max-width:790px){
    .div3{
        margin-top: 55px;
    }
    .maindiv h1{
        font-size: x-large;
    }
    .maindiv h4{
        display: none;
    }
    .div3{
        justify-content: flex-start;
    }
    .maindiv h5{
        font-size: small;
    }
    .maindiv h2{
        font-size: large;
        margin-top: 20px;
    }
    .div2 img{
        width: 100%;
    }
    .maindiv{
        height: 30vh;
    }
    .div31 img{
        width: 100px;
    }
    .div32 h5{
        margin-left: 25px;
    }
    .div32{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .div32 img{
        width: 100px;
    }
}
@media(max-width:400px){
    .div2 img{
        width: 150%;
    }
    .div2{
        width: 40%;
    }
    .div1 img{
      display: none;
    }
    .div1 h2{
      display: none;
    }
    .div1{
        width: 5%;
    }
    .div3{
        margin-left: 30px;
    }
}