.maindiv{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.main1div{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.smadiv11:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    
}
.smadiv11:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv12:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv12:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv13:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv13:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv14:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv14:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv15:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv15:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv16:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv16:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv17:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv17:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv18:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv18:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv19:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv19:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv110:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv110:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv111:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv111:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}
.smadiv112:hover > .innerdiv{
    transition: 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;

}
.smadiv112:hover > .innerdiv > h5{
    scale: 1.3;
    transition: 0.09s;

}


.smadiv1:hover{
    scale: 1.1;
    transition: 0.09s;
}

.smadiv11{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1618333822135-78b8ee57eda0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvZGRpZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');

    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

}
.smadiv11M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1614890085618-0e1054da74f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');

    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

}
.smadiv12{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/flagged/photo-1551854716-8b811be39e7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2FyZWV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv12M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1536243298747-ea8874136d64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv13{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1552902865-b72c031ac5ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8am9nZ2Vyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;
}

.smadiv13M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1600269452121-4f2416e55c28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=765&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;
}

.smadiv14{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1616348490852-d80c545b4f79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjB3ZWFyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;

}
.smadiv14M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1590999659195-e64a988eaf4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;

}
.smadiv15{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/flagged/photo-1575278154894-9f52e7c93bec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGdvd25zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv15M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1489913590284-9269438bb411?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv16{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1629990994849-4ac434b2a758?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwxMTQxMDg1N3x8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv16M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv17{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1607724044433-90bff6602750?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hydWdzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

}
.smadiv17M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1512977141980-8cc662e38a0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

}
.smadiv18{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1519211777646-3a7ccf759b64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dHJvdXNlcnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv18M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1622020920816-cd528763211a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=408&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv19{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hpcnRzJTIwd29tZW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;

}
.smadiv19M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1624378441864-6eda7eac51cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;

}
.smadiv110{
    height: calc(40vh - 20px);
    background: url('https://plus.unsplash.com/premium_photo-1674068280536-ca18252cfa8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxlZ2dpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    cursor: pointer;

    background-size: cover;
    margin: 10px;
    margin-left: 0px;
}
.smadiv110M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=398&q=80');
    background-position: center;
    cursor: pointer;

    background-size: cover;
    margin: 10px;
    margin-left: 0px;
}
.smadiv111{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1584166452535-40e62109c3f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGxlZ2dpbmdzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv111M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1603617902802-1a72cc4a50c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=359&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv112{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1557002666-513ca8eaa3c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NnwzMzEzMDI3fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;

    margin-left: 0px;
}
.smadiv112M{
    height: calc(40vh - 20px);
    background: url('https://images.unsplash.com/photo-1591047139829-d91aecb6caea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80');
    background-position: center;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
    margin-left: 0px;
}

.innerdiv{
    margin: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background: linear-gradient(0deg, rgba(63, 77, 126, 0.48), rgba(63, 77, 126, 0.48)),
linear-gradient(0deg, rgba(163, 163, 163, 0.56), rgba(163, 163, 163, 0.56));
backdrop-filter: blur(1.6px);
-webkit-backdrop-filter: blur(1.6px);
    height: 11vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: calc(40vh - 25px - 11vh);
}
@media(max-width:1080px){
    .main1div{
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .smadiv14{
        margin: 10px;
    
    
    }
    .smadiv110{
        margin: 10px;
    
    
    }
}
@media(max-width:550px){
    .main1div{
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
    }
    .smadiv12{
        margin: 10px;
    
    
    }
    .smadiv13{
        margin: 10px;
    
    
    }
    .smadiv14{
        margin: 10px;
    
    
    }
    .smadiv15{
        margin: 10px;
    
    
    }
    .smadiv16{
        margin: 10px;
    
    
    }
    .smadiv17{
        margin: 10px;
    
    
    }
    .smadiv18{
        margin: 10px;
    
    
    }
    .smadiv19{
        margin: 10px;
    
    
    }
    .smadiv110{
        margin: 10px;
    
    
    }
    .smadiv111{
        margin: 10px;
    
    
    }
    .smadiv112{
        margin: 10px;
    
    
    }
}
@media(max-width:980px){
    .maindiv{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .smadiv4{
        margin: 10px;
    
    
    }
}
@media(max-width:500px){
    .maindiv{
        grid-template-columns: 1fr 1fr;
    }
    .smadiv4{
        margin: 10px;
        margin-right: 0px;
    
    }
    .smadiv1{
        margin: 10px;
        margin-right: 0px;
    
    }
    .smadiv2{
        margin: 10px;
        margin-right: 0px;
    
    }
    .smadiv3{
        margin: 10px;
        margin-right: 0px;
    
    }
    .smadiv5{
        margin: 10px;
        margin-right: 0px;
    
    }
}
@media(max-width:400px){
    .maindiv{
        grid-template-columns: 1fr;
    }
    .smadiv4{
        margin: 10px;
    
    }
    .smadiv1{
        margin: 10px;
        height: 30vh;
    }
    .innerdiv{
        margin-top: calc(33vh - 20px - 9vh);
        height: 9vh;
    }
    .smadiv2{
        margin: 10px;
        height: 30vh;
       
    }
    .smadiv3{
        margin: 10px;
        height: 30vh;
    }
    .smadiv4{
        height: 30vh;
    }
    .smadiv5{
        margin: 10px;
        height: 30vh;
        
    }
    .smadiv6{
         height: 30vh;
         margin: 10px;       
    }
    .smadiv11{
        margin: 10px;
        height: 30vh;
        
    
    }
    .smadiv12{
        margin: 10px;
        height: 30vh;
        
    
    }
    .smadiv13{
        margin: 10px;
        height: 30vh;
        
    
    }
    .smadiv14{
        margin: 10px;
    
        height: 30vh;
       
    }
    .smadiv15{
        margin: 10px;
    
        height: 30vh;
      
    }
    .smadiv16{
        margin: 10px;
    
        height: 30vh;
    
    }
    .smadiv17{
        margin: 10px;
    
        height: 30vh;
    
    }
    .smadiv18{
        margin: 10px;
    
        height: 30vh;
    
    }
    .smadiv19{
        margin: 10px;
        height: 30vh;
    
    
    }
    .smadiv110{
        margin: 10px;
        height: 30vh;
    
    
    }
    .smadiv111{
        margin: 10px;
        height: 30vh;
    
    
    }
    .smadiv112{
        margin: 10px;
        height: 30vh;
    
    
    }
}