.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel1 h2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #3A1C07;
    font-weight: 700;
}
.card_info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2%;
}
.card_info h6{
    color: #3A1C07;
}
.card_info span{
    font-size: 11px;
    text-decoration: line-through;
    margin-right: 2px;
}
.card_info a{
    font-size: small;
}
.budget{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #E53F52;
    padding-top: 14px;
    padding-bottom: 10px;
    color: white;
    
}


.bigbudget{
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
.bigbudget h2{
    font-weight: 700;
}
.yo{
    color: transparent;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@media(max-width:1300px){
    .bigbudget{
        width: 45vw;
    }
}
@media(max-width:1050px){
    .bigbudget{
        width: 59vw;
    }
    
}
@media(max-width:740px){
    .yo{
        display: none;
    }
    .bigbudget{
        width: 69vw;
    }
    
}
@media(max-width:700px){
    
    .budget{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        background: #E53F52;
        padding-top: 14px;
        padding-bottom: 10px;
        color: white;
        display: none;
    }
}
@media(max-width:420px){
    
    .budget{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        background: #E53F52;
        padding-top: 14px;
        padding-bottom: 10px;
        color: white;
        display: block;
    }
}